<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Homepage</title>
</head>
<body>
        <!-- Navbar -->
    <nav class="navbar">
            <div class="container">
                <a href="{% url 'homepage' %}" class="logo">Quiz Portal</a>
                <ul class="nav-links">
                    {% if user.is_authenticated %}
                    <!-- Show these links when the user is logged in -->
                    <li><a href="{% url 'quiz_home' %}">Quizzes</a></li>
                    
                    <!-- profile menu dropdown-->
                    <li class="profile-dropdown">
                        <div class="user-dropdown-container">
                            <a href="#" class="user-dropdown-toggle">
                                <img src="{% static 'images/user_icon.png' %}" alt="User Icon" class="user-icon">
                                {{ user.email }}
                            </a>
                            <ul class="user-dropdown-menu">
                                <li><a href="{% url 'profile_home' %}">Profile</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                    {% else %}
                    <!-- Show login and sign up links when the user is NOT logged in -->
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
    </nav>
    <!--main content-->
    <main>
        <!--header-->
        <header class="hero">
            <h1>Welcome to Quiz Portal</h1>
            <p>Your one-stop platform to Create Quizzes and Participate!</p>
        </header>
        <section class="description">
            <div class="container">
                {% comment %} <h2>About Quiz Portal</h2> {% endcomment %}
                <p>Quiz Portal allows you to create quizzes and share them with others.<br> Whether you want to test your own knowledge or challenge your friends,<br> you can create quizzes that are either private or open to the public. <br>Join the fun and discover new quizzes to test your skills!<br><br></p>
            </div>
            <img class="sample-image" src="{% static 'images/sample_image.jpg' %}" alt="sample Image">
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Quiz Portal. All rights reserved.</p>
            <p>Contact us: you wish!</p>
        </div>
    </footer>
</body>
</html>