<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Home | Quiz Portal</title>
    </head>
    <body>
        <h1 align="center">Welcome To Quiz Portal!</h1>
        <img class="sample-image" src="{% static 'images/sample_image.jpg' %}" alt="Sample Image">
        {% comment %} <script src="index.js"></script> {% endcomment %}
    </body>
</html>
