{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block title %}All Blogs{% endblock %}

{% block content %}
<div class="blog-list-container">
    <h1>All Blogs</h1>
    <ul class="blog-list">
        {% for blog in blogs %}
        <li class="blog-item">
            <a href="{% url 'blog_detail' blog.id %}" class="blog-title">{{ blog.title }}</a> 
            <span class="blog-author">by {{ blog.author.username }}</span>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_blog' %}" class="create-btn">Create New Blog</a>
</div>
{% endblock %}
